## Packages

In [1]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/Users/danny/Desktop/MDS/master 4/CITS 5553 Data Science Capstone Project/Individual/Capstone-Individual/Data Acquiration'

In [2]:
os.chdir('/Users/danny/Desktop/MDS/master 4/CITS 5553 Data Science Capstone Project/Individual/Capstone-Individual/Data')

## Merge data set

In [3]:
aemo = pd.read_csv("combined_csv-operational-demand.csv")
aemo[['Date','Trading Interval Time']] = aemo['Trading Interval'].str.split(" ",expand=True) 
# Split the column 'Trading Interval'
agg_aemo = pd.DataFrame(aemo.groupby(['Date'])['Operational Demand (MW)'].sum().reset_index())
# Sum the OD based on the Date in 'Trading Interval'
agg_aemo
## agg_aemo.to_csv('agg_aemo.csv',sep=',',index = False) # output the csvfile

            Date  Operational Demand (MW)
0     2006-09-20                84899.244
1     2006-09-21                86367.164
2     2006-09-22                84524.988
3     2006-09-23                76316.484
4     2006-09-24                71521.142
...          ...                      ...
5804  2022-08-11               104880.794
5805  2022-08-12               100860.726
5806  2022-08-13               112085.704
5807  2022-08-14                94648.966
5808  2022-08-15                32036.660

[5809 rows x 2 columns]

In [4]:
bom = pd.read_csv("perth_airport.csv")
bom

,Unnamed: 0,Station,Date,Transpiration,Rain,Evaporation,Max Temp,Min Temp,Max Hum,Min Hum,Av Wind,Solar Rad
0,0,PERTH AIRPORT,2009-01-01,11.2,0.0,11.6,37.2,18.8,65,20,6.1,34.01
1,1,PERTH AIRPORT,2009-01-02,10.2,0.0,12.8,36.1,21.9,70,25,5.31,34.25
2,2,PERTH AIRPORT,2009-01-03,9.4,0.0,11.8,34.4,20.3,79,29,5.45,34.11
3,3,PERTH AIRPORT,2009-01-04,10.5,0.0,11.2,36.5,18.5,62,20,5.25,34.05
4,4,PERTH AIRPORT,2009-01-05,11.9,0.0,11.4,37.2,21.8,63,17,6.77,34.18
...,...,...,...,...,...,...,...,...,...,...,...,...
4972,4972,PERTH AIRPORT,2022-08-18,2.3,8.4,1.6,17.9,2.6,96,47,2.52,15.28
4973,4973,PERTH AIRPORT,2022-08-19,1.8,0.0,2.6,17.6,8.8,94,64,2.45,10.05
4974,4974,PERTH AIRPORT,2022-08-20,2.5,0.0,1.0,20.6,5.2,96,45,2.22,15.95
4975,4975,PERTH AIRPORT,2022-08-21,3.1,0.0,1.8,20.7,5.2,96,43,3.78,16.61
4976,4976,PERTH AIRPORT,2022-08-22,3.7,0.0,2.8,17.2,8.1,80,35,6.25,16.68

In [5]:
merge_data = bom.merge(agg_aemo,on='Date',how = 'inner')
merge_data

,Unnamed: 0,Station,Date,Transpiration,Rain,Evaporation,Max Temp,Min Temp,Max Hum,Min Hum,Av Wind,Solar Rad,Operational Demand (MW)
0,0,PERTH AIRPORT,2009-01-01,11.2,0.0,11.6,37.2,18.8,65,20,6.1,34.01,95141.184
1,1,PERTH AIRPORT,2009-01-02,10.2,0.0,12.8,36.1,21.9,70,25,5.31,34.25,108058.504
2,2,PERTH AIRPORT,2009-01-03,9.4,0.0,11.8,34.4,20.3,79,29,5.45,34.11,95788.860
3,3,PERTH AIRPORT,2009-01-04,10.5,0.0,11.2,36.5,18.5,62,20,5.25,34.05,93777.404
4,4,PERTH AIRPORT,2009-01-05,11.9,0.0,11.4,37.2,21.8,63,17,6.77,34.18,112678.424
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,4965,PERTH AIRPORT,2022-08-11,2.2,0.0,1.4,19.6,2.8,96,43,1.9,15.3,104880.794
4966,4966,PERTH AIRPORT,2022-08-12,3.5,0.0,2.0,21.0,6.0,92,41,5.4,15.42,100860.726
4967,4967,PERTH AIRPORT,2022-08-13,2.9,0.0,4.0,16.8,10.9,94,34,5.97,5.67,112085.704
4968,4968,PERTH AIRPORT,2022-08-14,2.3,16.2,1.8,19.5,7.3,96,47,2.62,13.35,94648.966
4969,4969,PERTH AIRPORT,2022-08-15,3.5,0.0,1.8,23.5,10.1,94,43,4.49,15.55,32036.660

## Describe of dataset

In [6]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4970 entries, 0 to 4969
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               4970 non-null   int64
 1   Station                  4970 non-null   object
 2   Date                     4970 non-null   object
 3   Transpiration            4970 non-null   object
 4   Rain                     4970 non-null   object
 5   Evaporation              4970 non-null   object
 6   Max Temp                 4970 non-null   object
 7   Min Temp                 4970 non-null   object
 8   Max Hum                  4970 non-null   object
 9   Min Hum                  4970 non-null   object
 10  Av Wind                  4970 non-null   object
 11  Solar Rad                4970 non-null   object
 12  Operational Demand (MW)  4970 non-null   float64
dtypes: float64(1), int64(1), object(11)
memory usage: 543.6+ KB

In [7]:
merge_data.describe()

        Unnamed: 0  Operational Demand (MW)
count  4970.000000              4970.000000
mean   2484.500000             97945.230067
std    1434.859749             11205.457084
min       0.000000             32036.660000
25%    1242.250000             90454.591000
50%    2484.500000             96728.687000
75%    3726.750000            103573.946000
max    4969.000000            147741.444000

In [8]:
merge_data.columns

Index(['Unnamed: 0', 'Station', 'Date', 'Transpiration', 'Rain', 'Evaporation',
       'Max Temp', 'Min Temp', 'Max Hum', 'Min Hum', 'Av Wind', 'Solar Rad',
       'Operational Demand (MW)'],
      dtype='object')

## Deal with NAs, use the last date data of NA

In [9]:
for i in ['Transpiration', 'Rain', 'Evaporation','Max Temp', 'Min Temp', 'Max Hum', 'Min Hum', 'Av Wind', 'Solar Rad']:
    merge_data[i]=pd.to_numeric(merge_data[i],errors='coerce')
merge_data.describe()

,Unnamed: 0,Transpiration,Rain,Evaporation,Max Temp,Min Temp,Max Hum,Min Hum,Av Wind,Solar Rad,Operational Demand (MW)
count,4970.000000,4928.000000,4964.000000,4956.000000,4969.000000,4968.000000,4969.000000,4969.000000,4969.000000,4932.000000,4970.000000
mean,2484.500000,5.267675,1.762611,5.776049,25.578829,12.649376,85.443751,36.135440,4.871187,19.382806,97945.230067
std,1434.859749,2.917460,5.182495,3.539568,6.428449,5.047063,14.056595,14.657069,1.577085,8.195395,11205.457084
min,0.000000,0.900000,0.000000,0.000000,12.100000,-1.000000,23.000000,4.000000,1.340000,1.000000,32036.660000
25%,1242.250000,2.800000,0.000000,2.800000,20.300000,9.000000,77.000000,25.000000,3.670000,12.330000,90454.591000
50%,2484.500000,4.500000,0.000000,5.000000,24.600000,12.500000,91.000000,36.000000,4.770000,18.175000,96728.687000
75%,3726.750000,7.400000,0.200000,8.400000,30.300000,16.300000,96.000000,46.000000,5.900000,26.822500,103573.946000
max,4969.000000,16.100000,82.600000,20.000000,44.200000,28.600000,100.000000,90.000000,12.040000,39.000000,147741.444000

In [10]:
# import sweetviz as sv
# my_report = sv.analyze(merge_data, target_feat ='Operational Demand (MW)')
# my_report.show_html()

In [11]:
merge_data.isnull().stack()[lambda x:x].index.tolist()

[(31, 'Transpiration'),
 (31, 'Max Hum'),
 (31, 'Min Hum'),
 (31, 'Av Wind'),
 (47, 'Transpiration'),
 (47, 'Solar Rad'),
 (48, 'Transpiration'),
 (48, 'Solar Rad'),
 (78, 'Transpiration'),
 (78, 'Solar Rad'),
 (79, 'Transpiration'),
 (79, 'Solar Rad'),
 (80, 'Transpiration'),
 (80, 'Solar Rad'),
 (85, 'Transpiration'),
 (85, 'Solar Rad'),
 (86, 'Transpiration'),
 (86, 'Solar Rad'),
 (87, 'Transpiration'),
 (87, 'Solar Rad'),
 (186, 'Transpiration'),
 (186, 'Solar Rad'),
 (187, 'Transpiration'),
 (187, 'Solar Rad'),
 (188, 'Transpiration'),
 (188, 'Solar Rad'),
 (315, 'Transpiration'),
 (315, 'Solar Rad'),
 (319, 'Transpiration'),
 (319, 'Solar Rad'),
 (320, 'Transpiration'),
 (320, 'Solar Rad'),
 (321, 'Transpiration'),
 (321, 'Solar Rad'),
 (322, 'Transpiration'),
 (322, 'Solar Rad'),
 (323, 'Transpiration'),
 (323, 'Solar Rad'),
 (324, 'Transpiration'),
 (324, 'Solar Rad'),
 (325, 'Transpiration'),
 (325, 'Solar Rad'),
 (326, 'Transpiration'),
 (326, 'Solar Rad'),
 (327, 'Transpiration'),
 (327, 'Solar Rad'),
 (328, 'Transpiration'),
 (328, 'Solar Rad'),
 (329, 'Transpiration'),
 (329, 'Solar Rad'),
 (330, 'Transpiration'),
 (330, 'Solar Rad'),
 (575, 'Transpiration'),
 (575, 'Solar Rad'),
 (576, 'Transpiration'),
 (576, 'Solar Rad'),
 (606, 'Transpiration'),
 (606, 'Solar Rad'),
 (607, 'Transpiration'),
 (607, 'Solar Rad'),
 (624, 'Transpiration'),
 (624, 'Solar Rad'),
 (945, 'Transpiration'),
 (945, 'Solar Rad'),
 (973, 'Rain'),
 (995, 'Rain'),
 (1077, 'Transpiration'),
 (1077, 'Solar Rad'),
 (1340, 'Rain'),
 (1533, 'Transpiration'),
 (1533, 'Max Temp'),
 (1534, 'Transpiration'),
 (1534, 'Rain'),
 (1534, 'Evaporation'),
 (1534, 'Min Temp'),
 (1547, 'Transpiration'),
 (1547, 'Solar Rad'),
 (1548, 'Transpiration'),
 (1548, 'Solar Rad'),
 (1549, 'Transpiration'),
 (1549, 'Solar Rad'),
 (1550, 'Transpiration'),
 (1550, 'Solar Rad'),
 (1639, 'Transpiration'),
 (1639, 'Solar Rad'),
 (1681, 'Transpiration'),
 (1681, 'Solar Rad'),
 (2348, 'Rain'),
 (2403, 'Evaporation'),
 (2430, 'Evaporation'),
 (2717, 'Rain'),
 (2896, 'Transpiration'),
 (2896, 'Solar Rad'),
 (2897, 'Transpiration'),
 (2897, 'Min Temp'),
 (3124, 'Evaporation'),
 (3145, 'Evaporation'),
 (3284, 'Evaporation'),
 (3297, 'Evaporation'),
 (3774, 'Evaporation'),
 (3776, 'Evaporation'),
 (3777, 'Evaporation'),
 (3778, 'Evaporation'),
 (4410, 'Evaporation'),
 (4664, 'Evaporation'),
 (4802, 'Evaporation')]

In [12]:
fill_data = merge_data.fillna(method='ffill',axis=0)
fill_data

,Unnamed: 0,Station,Date,Transpiration,Rain,Evaporation,Max Temp,Min Temp,Max Hum,Min Hum,Av Wind,Solar Rad,Operational Demand (MW)
0,0,PERTH AIRPORT,2009-01-01,11.2,0.0,11.6,37.2,18.8,65.0,20.0,6.10,34.01,95141.184
1,1,PERTH AIRPORT,2009-01-02,10.2,0.0,12.8,36.1,21.9,70.0,25.0,5.31,34.25,108058.504
2,2,PERTH AIRPORT,2009-01-03,9.4,0.0,11.8,34.4,20.3,79.0,29.0,5.45,34.11,95788.860
3,3,PERTH AIRPORT,2009-01-04,10.5,0.0,11.2,36.5,18.5,62.0,20.0,5.25,34.05,93777.404
4,4,PERTH AIRPORT,2009-01-05,11.9,0.0,11.4,37.2,21.8,63.0,17.0,6.77,34.18,112678.424
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,4965,PERTH AIRPORT,2022-08-11,2.2,0.0,1.4,19.6,2.8,96.0,43.0,1.90,15.30,104880.794
4966,4966,PERTH AIRPORT,2022-08-12,3.5,0.0,2.0,21.0,6.0,92.0,41.0,5.40,15.42,100860.726
4967,4967,PERTH AIRPORT,2022-08-13,2.9,0.0,4.0,16.8,10.9,94.0,34.0,5.97,5.67,112085.704
4968,4968,PERTH AIRPORT,2022-08-14,2.3,16.2,1.8,19.5,7.3,96.0,47.0,2.62,13.35,94648.966
4969,4969,PERTH AIRPORT,2022-08-15,3.5,0.0,1.8,23.5,10.1,94.0,43.0,4.49,15.55,32036.660

In [13]:
merge_data.isnull().sum()

Unnamed: 0                  0
Station                     0
Date                        0
Transpiration              42
Rain                        6
Evaporation                14
Max Temp                    1
Min Temp                    2
Max Hum                     1
Min Hum                     1
Av Wind                     1
Solar Rad                  38
Operational Demand (MW)     0
dtype: int64

In [14]:
fill_data.dtypes

Unnamed: 0                   int64
Station                     object
Date                        object
Transpiration              float64
Rain                       float64
Evaporation                float64
Max Temp                   float64
Min Temp                   float64
Max Hum                    float64
Min Hum                    float64
Av Wind                    float64
Solar Rad                  float64
Operational Demand (MW)    float64
dtype: object